/*
    Styling for Rentable views
*/

.Only-show-on-small-screen {
    display: none !important;
}

@media screen and (max-width: 991px) {
    .col-sm-4 {
        display: none !important;
    }
    .col-sm-2 {
        display: none !important;
    }
}

@media screen and (max-width: 991px) {
    .Only-show-on-small-screen {
        display: contents !important;
    }
}


